<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>FID 18774 banners | Idea Ranch</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="{DESCRIPTION}">
<meta name="robots" content="noindex, nofollow">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700">
<link rel="stylesheet" href="assets/css/style.css">

<script src="assets/js/vendor/modernizr.custom.js"></script>
</head>
<body class="in-review">
<div class="perspective effect-moveleft">
    <div class="container">
        <header class="site-header" role="banner">
            <nav>
                <div class="logo">
                     <svg xmlns="http://www.w3.org/2000/svg" width="346.11" height="69.1" viewbox="0 0 346.11 69.1"><defs><style>.cls-1{fill:#3b3836;}.cls-2{fill:#cc112c;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M8,19.56V49.67H0V19.56Z"/><path class="cls-1" d="M28.31,19.56c9.5,0,14.11,5.38,14.11,13.2v4.07c0,7.82-4.66,12.84-14.11,12.84H14.93V19.56ZM22.89,43.21h4.84c4.52,0,6.69-2.9,6.69-7.24V33.26c0-4.34-2.22-7.24-6.69-7.24H22.89Z"/><path class="cls-1" d="M70.54,19.56V26H54.49v5.38H66.7v6.06H54.49v5.83H70.54v6.42H46.71V19.56Z"/><path class="cls-1" d="M94.79,44.52h-12L80.9,49.67H73.12l11.4-30.25h9l11.35,30.25H96.59ZM84.7,39h8.1l-4-11.35h-.09Z"/><path class="cls-1" d="M239.3,44.45h-12l-1.86,5.16h-7.77L229,19.36h9l11.35,30.25h-8.27Zm-10.09-5.56h8.1l-4-11.35h-.09Z"/><path class="cls-1" d="M259.94,19.49l12.48,18h.09l-.05-18h7.19V49.61h-7.82L259.26,31.25h-.09l0,18.36H252V19.49Z"/><path class="cls-1" d="M312.57,29.57v1.05h-7.83v-.91c0-2.4-2-4.39-5.33-4.39-4.48,0-6.47,3.31-6.47,7.51v3.44c0,4,2,7.5,6.47,7.5,3.3,0,5.33-2,5.33-4.38v-.91h7.83v1c0,6.06-4.62,10.76-13.21,10.76-9.13,0-14.47-5.65-14.47-14V32.83c0-8.36,5.56-14,14.56-14C308.13,18.81,312.57,23.42,312.57,29.57Z"/><path class="cls-1" d="M326.67,19.49V30.93h11.44V19.49h8V49.61h-8V37.76H326.67V49.61h-8V19.49Z"/><path class="cls-1" d="M209.16,38.48a1.23,1.23,0,0,0,.45-.27,9.87,9.87,0,0,0-4.39-18.72c-.16,0-.31,0-.47,0a2.85,2.85,0,0,0-.29,0H188.73V49.61h8V39.25h4.44l6.37,10.36h8.68Zm-5.63-5h-6.85V25.55h6.85a4,4,0,1,1,0,7.91Z"/><path class="cls-2" d="M145.68,0a34.55,34.55,0,1,0,34.55,34.55A34.55,34.55,0,0,0,145.68,0Zm13.23,58.05a.86.86,0,0,1-1.19-.35L150.61,44a.52.52,0,0,1,.2-.68,13.73,13.73,0,0,0-7.19-25.44h-4a.87.87,0,0,0-.88.87v6.79a.87.87,0,0,0,.88.88h3c3.19,0,5.34,2,5.34,4.92s-2.15,4.92-5.34,4.92h-3a.87.87,0,0,0-.88.88V40a2,2,0,0,0,.2.87l9.46,19.77a.51.51,0,0,1-.42.74c-.76.07-1.53.1-2.31.1a27,27,0,0,1-9.76-1.82.88.88,0,0,1-.55-.81V18.74a.87.87,0,0,0-.87-.87h-6.41a.87.87,0,0,0-.88.87V53a.52.52,0,0,1-.88.37,27,27,0,1,1,32.58,4.72Z"/></g></g></svg>
                    <h3 class="headline">FID 18774 banners</h3>
                </div>
            </nav>
        </header>
        
        <main class="main-container" role="main">
            <div class="content-container">
                <div class="tabs"><label class="tab" data-type="iframe" data-filesize="191.16 KB" data-modified="2021-10-15T15:39:29.980Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab" checked="true"><span>160x600-1</span></label><label class="tab" data-type="iframe" data-filesize="230.48 KB" data-modified="2021-10-15T15:39:57.903Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>160x600-2</span></label><label class="tab" data-type="iframe" data-filesize="213.88 KB" data-modified="2021-10-15T15:42:20.187Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x250-1</span></label><label class="tab" data-type="iframe" data-filesize="192.43 KB" data-modified="2021-10-15T15:42:34.646Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x250-2</span></label><label class="tab" data-type="iframe" data-filesize="66.32 KB" data-modified="2021-10-15T15:40:49.110Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x50-1</span></label><label class="tab" data-type="iframe" data-filesize="67.75 KB" data-modified="2021-10-15T15:41:12.116Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x50-2</span></label><label class="tab" data-type="iframe" data-filesize="324.94 KB" data-modified="2021-10-15T15:43:25.571Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x600-1</span></label><label class="tab" data-type="iframe" data-filesize="428.54 KB" data-modified="2021-10-15T15:44:13.919Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>300x600-2</span></label><label class="tab" data-type="iframe" data-filesize="65.86 KB" data-modified="2021-10-13T21:41:17.574Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>320x50-1</span></label><label class="tab" data-type="iframe" data-filesize="78.07 KB" data-modified="2021-10-13T21:41:17.574Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>320x50-2</span></label><label class="tab" data-type="iframe" data-filesize="169.7 KB" data-modified="2021-10-15T15:45:04.414Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>728x90-1</span></label><label class="tab" data-type="iframe" data-filesize="180.21 KB" data-modified="2021-10-15T15:45:32.436Z" data-zipfile="{{zipfile}}"><input type="radio" name="tab"><span>728x90-2</span></label><label class="single-tab show-menu"><span>160x600-1</span><em class="hamburger"><i></i></em></label></div>
                <div class="banner-container">
                    <div class="banner">
                        <div class="ad-container" style="width:25px;height:25px;">
                            <iframe class="banner-content" src="about:blank" width="25" height="25" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <button class="overflow js-btn-zoom"></button>
                    <div class="file-meta"><span>&#xA0;</span></div>
                    <button class="btn-reload-banner">Replay Banner</button>
                </div>
            </div>
        </main>
    </div><!-- /.container -->
</div>
<div class="nav-container"><nav class="navigation"></nav></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>') </script>
<script src="assets/js/main.js"></script>

</body>
</html>
